html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background: lightgoldenrodyellow;
}

/* .navbar__links {
  margin-left: auto;
} */

.navbar__link {
  margin: 0 15px;
  padding: 10px 15px;
}

.navbar a.active {
  font-weight: 700;
  border: 1px solid teal;
}

.city,
.journey {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.dialogButton {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.login {
  height: 150px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0px 0 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 200px;
      height: 30px;
      margin: 10px;
    }

    button {
      width: 200px;
      height: 30px;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      font-style: 12px;
      color: red;
      margin-top: 10px;
    }
  }
}

.modalDialog {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.modalDialog.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px dashed teal;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}
